<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs hidden">
    <%= f.input :url_targeted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <div class="form-inputs">
    <%= f.input :photo %>
  </div>
<% end %>
