<%= simple_form_for( @team, url: save_analytics_team_path(@team) ) do |f| %>
  <div class="form-inputs">
    <%= f.input :accountid, collection: @accounts.items %>
  </div>
  <div class="form-inputs <%= 'hidden' if @props == [] %>">
    <%= f.input :webproprietyid, collection: @props %>
  </div>
  <div class="form-inputs <%= 'hidden' if @views == [] %>">
    <%= f.input :view_id, collection: @views %>
  </div>
<% end %>
