
<div class="standard-container">
  <div class="top-teams">
    <h2>My Teams</h2>
    <div class="btn">
      <%= link_to "Create a new Team", new_team_path, class:"btn-create"  %>
   </div>
  </div>
  <hr>
  <br>
  <br>

 <div class="row">
       <div class="col-xs-12">
          <% @teams.each do |team| %>
            <%= link_to team_path(team) do %>
              <div class="list-teams">
              <ul class= "list-inline">
              <li>
               <h3 class="card-title-1"><%= team.name %></h3>
              <%= cl_image_tag team.photo, height: 130, width: 180, crop: :fill, :class =>"img-team";%>
              <% team.users.each do |user| %>
                 <%= cl_image_tag user.photo, height: 65, width: 65, :class =>"img-circle" %>
                 <div class="add-button">
                 <%= link_to "", new_team_teammate_path(team), class:"fa fa-plus-circle fa-2x" %>
                 </div>
               </li>
              </ul>
              <% end %>
              </div>
              <% end %>
              <% end %>
                 </div>
              </div>
      </div>










