





<div class="standard-container">
  <div class="top-teams">
    <h2>My Teams</h2>
    <div class="btn">
      <%= link_to "Create a new Team", new_team_path, class:"btn-create"  %>
   </div>
  </div>
  <hr>
  <br>



  <% @teams.each do |team| %>
    <%= link_to team_path(team) do %>
     <div class="list-teams">
       <div class="team-image">
        <%= cl_image_tag team.photo, height: 150, width: 210, crop: :fill, :class =>"img-team";%>
      </div>
        <div class="card-items">
         <div class="title-2">
           <h3 class="title-2"><%= team.name %></h3>
       <hr class="style-1">
         </div>
        <% team.users.each do |user| %>
           <div class="avatar-teams">
             <%= cl_image_tag user.photo, height: 65, width: 65, :class =>"img-circle" %>
           </div>
          <% end %>
           <div class="add-button">
            <%= link_to "", new_team_teammate_path(team), class:"fa fa-plus-circle fa-2x" %>
          </div>
         </div>
      </div>
    <% end %>
  <% end %>












