
<div class="container">
<hr>
<div class="top-teams">
<h1>My Teams</h1>
<div class="btn">
 <%= link_to "Create a new Team", new_team_path, class:"btn-create"  %>
 </div>
 </div>
<hr>
<br>
<% @teams.each do |team| %>
<%= link_to team_path(team) do %>
<div class="col-xs-12 col-md-4">
  <div class="card-top">
    <%= cl_image_tag team.photo, height: 300, width: 350, crop: :fill, :class =>"card-img-top";%>
      <div class="card-block">
      <h3 class="card-title"><%= team.name %></h3>
      <hr>
      <ul class="list-inline">
      <li>
      <% team.users.each do |user| %>
      <%= cl_image_tag user.photo, height: 65, width: 65, :class =>"img-circle" %>
      </li>
      </ul>
      <% end %>
   </div>
    </div>
    </div>
    <% end %>
    <% end %>
    </div>









