<h1>Setup your team</h1>

  <%= simple_form_for( @team, url: save_analytics_team_path(@team) ) do |f| %>
    <%= f.input :accountid, collection: @accounts.items %>
    <% unless @team.accountid.blank? %>
      <%= f.input :webproprietyid, collection: @webprops.items %>
    <% else %>
      <%= f.input :webproprietyid, value: nil, as: :hidden %>
    <% end %>
    <% if !@team.accountid.blank? && !@team.webproprietyid.blank? %>
      <%= f.input :view_id, collection: @views.items %>
    <% else %>
        <%= f.input :view_id, value: nil, as: :hidden %>
    <% end %>
    <%= f.submit %>
  <% end %>

<% if !@team.accountid.blank? && !@team.webproprietyid.blank? && !@team.view_id.blank? %>
  <%= link_to 'Add Teammates', new_team_teammate_path(@team), class: "btn-cta" %>
  <%= link_to 'Show website data', team_path(@team), class: "btn-cta" %>
<% end %>
