<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="analytics-form">
        <h3>Setup your team analytics </h3>
        <div id="set-analytics-form">
          <%= render 'set_analytics_form' %>
        </div>
      </div>
    </div>
  </div>

  <div id='ga-cta' class="<%= 'hidden' if @team.view_id == nil %>">
    <%= link_to 'Add Teammates', new_team_teammate_path(@team), class: "btn-cta" %>
    <%= link_to 'Show website data', team_path(@team), class: "btn-cta" %>
  </div>
</div>

<% content_for :after_js do %>
<script>

  $('#team_accountid').change(function () {
    var accountId = $('#team_accountid').val();
    $.ajax({
      type: "PATCH",
      url: "<%= save_analytics_team_path(@team) %>",
      data: {
        accountid: accountId
      }
    });
  });
  $('#team_webproprietyid').change(function () {
    var propId = $('#team_webproprietyid').val();
    var accountId = $('#team_accountid').val();
    $.ajax({
      type: "PATCH",
      url: "<%= save_analytics_team_path(@team) %>",
      data: {
        accountid: accountId,
        webproprietyid: propId
      }
    });
  });
  $('#team_view_id').change(function () {
    var accountId = $('#team_accountid').val();
    var propId = $('#team_webproprietyid').val();
    var viewId = $('#team_view_id').val();
    $.ajax({
      type: "PATCH",
      url: "<%= save_analytics_team_path(@team) %>",
      data: {
        accountid: accountId,
        webproprietyid: propId,
        view_id: viewId
      }
    });
  });

</script>
<% end %>
