<div class="standard-container">
<h2>My Profile</h2>
<hr>
  <div class="profil-container">
    <div class="row">

       <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <div class="col-xs-12 col-md-2 form-look-edit ">
                  <%= cl_image_tag @user.photo, crop: :fill, class: "photo-profil"%>
                  <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>

              </div>
              <div class="col-xs-12 col-md-5 form-look-edit-padded ">
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :role %>
                <%= f.input :email, required: true %>
                <%= f.input :photo %>

              </div>
              <div class="col-xs-12 col-md-5 form-look-edit-padded">
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>

                <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                <%= f.input :password_confirmation, required: false %>
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                <div class="profile-btn">
                    <%= f.button :submit, "Update", class: "btn-form" %>
                </div>
              </div>
          </div>
        <% end %>
    </div>
      <br>
      <br>

  </div>
</div>


