
  <header>
    <h1><%= @team.name %> timeline</h1>
  </header>

<!-- Still to do :
- clean-up classes and indentation
- find out where modernizr is called
- check css vs scss
- remove unused classes, replace dots icons
- Start team talk on what's shown on cards > Owner for ex?
- Make title banner smaller
- Display button to create new card on top of the page
- link color to Category and create classes accordingly?
- Change date format
- Display from closer in time (top) to later in time (bottom)
- Make cards clickable instead of " Show all details"

-->

<section id="cd-timeline" class="cd-container">

 <% @projects.each do |project| %>
 <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      </div> <!-- cd-timeline-img -->
      <div class="cd-timeline-content">
        <h2><%= project.title %></h2>
        <p><strong>Owner:</strong> <%= project.user.first_name %>  <%= project.user.last_name %></p>
      <p> <strong>Category:</strong> <%= project.category %></p>
      <%= link_to 'Show all details', project_path(project) %> |
    <% if policy(project).update? %>
       <%= link_to 'Edit', edit_project_path(project) %> |
    <% end %>
    <% if policy(project).destroy? %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

        <span class="cd-date"><%= project.start_date.strftime("%d %h %Y") %> </span>
      </div> <!-- cd-timeline-content -->
    <!-- cd-timeline-block -->
    </div>
    <% end %>

  </section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="app/assets/javascripts/timeline_main.js"></script> <!-- Resource jQuery -->

