<div id="mother-timeline">
  <div class="container">

  <div class="on-top-for-btn">
   <div class="btn-create" data-toggle= "modal" data-target="#Modalproject"">Add a project</div>
  </div>

<div class="modal fade" id="Modalproject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Add a new project</h1>
      </div>
      <div class="modal-body">
        <%= render "projects/new" %>
      <% if @project.save %>
        <% redirect_to team_path(@team) %>
      #<% else %>
      <% render :partial => 'projects/new' %>
      <% end %>
      </div>
    </div>
  </div>
</div>


  <section id="cd-timeline" class="cd-container">

    <% @projects.order("start_date desc").each do |project| %>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-<%= project.category.downcase %>">

          </div> <!-- close cd-timeline-img -->
          <!-- Flexbox element to host cd-timeline-infos and cd-icons (obj : push cd-icons to right edge of the card) -->
          <div class="cd-timeline-content ">
          <%= link_to "", project_path(project), class: "full_link_card click-loader" %>
            <!-- Buttons edit /destroy, shown or not according to user's access-->
            <div class="cd-timeline-infos">
              <!-- Make card clickable to access the project show -->


              <div class="cd-timeline-title"><%= project.title %></div>

              <p><strong>Owner : </strong>  <%= project.user.first_name %>  <%= project.user.last_name %></p>


                <!-- Date display/ on card or on timeline, depends of device size -->
            </div>
             <!-- close link to make card clickable-->


          <div class="cd-icons">
            <% if policy(project).update? %>
              <%= link_to edit_project_path(project) do %>
                <i class="fa fa-pencil" aria-hidden="true"> </i>
              <% end %>
            <% end %>
          </div>
          <div class="cd-date"><%= project.start_date.strftime("%d %h %Y") %></div>  <!-- close cd-icons -->

        </div> <!-- close cd-timeline-content -->
      </div> <!-- close cd-timeline-block -->
    <% end %>

  </section> <!-- close cd-timeline -->
  </div> <!-- id timeline -->
</div>
<script>
$(document).on("click", "a[href='projects#create']", function () {
   $("#Modalproject").modal("show")
})
</script>




