<%= render "shared/sign_in_out" %>
<div class="bg-color">
  <div class="section-first">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
          <div class="banner-title">
            <h1>Timzy</h1>
            <p>Amazing tool for all:
            <span class="text-typed typed"></span></p>
          </div>
        <% if !user_signed_in? %>
          <%= link_to new_user_registration_path do %>
            <div class="btn-cta-home">Sign up</div>
          <%end%>
        <% elsif user_signed_in? && current_user.teams.blank? %>
          <%= link_to new_team_path do %>
            <div class="btn-cta-home">Create a team</div>
          <%end%>
        <% else %>
          <%= link_to teams_path do %>
            <div class="btn-cta-home">See my teams</div>
          <%end%>
        <% end %>
        </div>
      <br>
        <div class="col-xs-12 col-md-7 col-lg-6">
          <div class="clock">
            <div class="hour"></div>
            <div class="second"></div>
            <div class="center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="explain-content">
  <div class="container">
    <div class="title-content text-center">
      <h2> Projects warehousing</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="illu-explain" id= "logowahou">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="text-explain">
          <p>test</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="who-content">
  <div class="container">
    <div class="title-content text-center">
      <h2>Team communication </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="text-explain">
          <p>Test</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="illu-explain" id= "team_home" >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Typed form JS -->
<%= content_for(:after_js) do %>

  <script>
  $(document).ready(function(){
      $(".typed").typed({
        strings: ["DEVELOPERS", "MARKETERS", "FOUNDERS", "GEEKS", "GROWTH HACKERS"],
        startDelay: 2000,
        typeSpeed: 60,
        backSpeed: 90,
        backDelay: 1000
      });
  });
  </script>
<% end %>

