<div>
   <%= form_tag(team_path(@team), :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search a project" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
  <%= @error_search_message %>

</div>

 <div class="bloc">
  <div class="fixed">
    <div class="chart-project">
      <canvas id="myChartindex"></canvas>
      </div>
    </div>
  </div>

 <%= render 'shared/timeline' %>

 <!-- LE GRAPH DU PROJETS -->


<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      new Chart($("#myChartindex"), {
          type: 'bar',
          responsive: true,
          maintainAspectRatio: false,
          data: {
              labels: <%= raw @array_date.to_json %>,
              datasets: [{
                  label: 'Unique Visitors',
                  backgroundColor:'#00DDC2',
                  borderColor:'#00DDC2',
                  data: <%= raw @array_clean.to_json %>,
                  borderWidth: 1
              }]
          },
          options: {
                responsive: true,
                maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    });
  </script>
<% end %>






