<div class="bloc">
  <div class="fixed">

    <div class="project-topbar">
        <div class="team-selector dropdown">
          <div class="dropdown-toggle" data-toggle="dropdown">
            <%=link_to @team.name, team_path(@team)%><span class=" caret"></span>
          </div>
          <ul class="dropdown-menu">
            <% @teams.each do |team| %>
              <li><%= link_to team.name, team_path(team.id) %></li>
            <% end %>
          </ul>
        </div>

      <div class="search form-inline">
     <!--    Search bar -->
        <%= form_tag(team_path(@team), :method => "get") do %>
            <%= text_field_tag :startdate, params[:startdate], placeholder: "date de début",  class: "date form-control" %>
            <%= text_field_tag :enddate, params[:enddate], placeholder: "date de fin",  class: "date form-control" %>
          <%= text_field_tag :search, params[:search], placeholder: "Search a project title or description", :id => nil, :class => "search-form-field" %>
          <%= submit_tag "Search", :name => nil, :class => "search-submit-btn" %>
        <% end %>
      <!--  end search bar -->

       <!-- Search datepicker -->


       <!--  end search datepicker -->

      </div> <!-- close Search bar -->

    </div> <!-- close project topbar -->

    <div class="chart-project">
      <canvas id="myChartindex"></canvas>
    </div>

  </div> <!-- close fixed -->
</div> <!-- close bloc -->


 <%= render 'shared/timeline' %>


 <!-- LE GRAPH DU PROJETS -->


<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      new Chart($("#myChartindex"), {

          type: 'bar',
          responsive: true,
          maintainAspectRatio: false,
          data: {
              labels: <%= raw @array_date.to_json %>,
              datasets: [{
                  label: 'Unique Visitors',
                  backgroundColor:'#00DDC2',
                  borderColor:'#00DDC2',
                  data: <%= raw @array_clean.to_json %>,
                  borderWidth: 1
              }]
          },
          options: {
                responsive: true,
                maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }],

// Experiment zone






// end of experiment zone



              }
          }
      });
    });
  </script>
<% end %>






