<div class="container">

  <% @projects.each do |project| %>
    <h1><%= project.title %></h1>

     <p><strong>Owner:</strong> <%= project.user.first_name %>  <%= project.user.last_name %></p>
      <p> <strong>Category:</strong> <%= project.category %></p>
      <p>  <strong>Start date:</strong> <%= project.start_date %>  |  <strong>End date:</strong> <%= project.end_date %></p>

    <br>
    <%= link_to 'Show all details', project_path(project) %> |
    <% if policy(project).update? %>
       <%= link_to 'Edit', edit_project_path(project) %> |
    <% end %>
    <% if policy(project).destroy? %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <hr>

  <% end %>

<%= link_to 'Create a project', new_team_project_path(@team) %>

</div>



