<%= simple_form_for [@team, @project] do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.input :title  %>
    <%= f.input :description %>
    <%= f.input :category, collection: ["Communication", "Development","Marketing", "Product", "Sales" ] %>

 <!-- - Date fields flexbox - -->
    <div class="datepicker-container">
    <!-- - Start date field - -->
      <div class="start-date date-flex-items">
        <label> Deployment date *</label>
        <div class="input-group date end-date" data-provide="datepicker">
          <input type="text" name="project[start_date]" placeholder="dd/mm/yyyy" class="form-control">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <div class="start-date date-flex-items">
        <label>End of project date *</label>
        <div class="input-group date end-date" data-provide="datepicker">
          <input type="text" name="project[end_date]" placeholder="dd/mm/yyyy" class="form-control">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- - Goal/KPI fields flexbox - -->
  <div class="inline-box-goal-kpi">
    <div class="kpi-goal-item goal-form"> <%= f.input :goal %></div>
    <div class="kpi-goal-item kpi-form"><%= f.input :kpi, collection: @kpi.items %></div>
  </div>

    <%= f.input :url_targeted, label: "Targeted url" %>

  <div class="form-actions class">
    <%= f.button :submit %>
  </div>
<% end %>
