<%= link_to '<< Back to project timeline', team_path(@team) %>

<div class="container">

  <h1>New Project</h1>
  <br>

  <%= simple_form_for [@team, @website, @project] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title  %>
      <%= f.input :description %>
      <%= f.input :category, collection: ["Communication", "Development","Marketing", "Product", "Sales" ] %>

   <!-- - Date fields flexbox - -->
      <div class="datepicker-container">
      <!-- - Start date field - -->
        <div class="start-date date-flex-items">
          <label> * Start date</label>
          <div class="input-group date end-date" data-provide="datepicker">
            <input type="text" name="project[start_date]" placeholder="dd/mm/yyyy" class="form-control">
            <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
      <!-- - End date field - -->
        <div class="end-date date-flex-items">
          <label> End date</label>
          <div class="input-group date start-date" data-provide="datepicker">
            <input type="text" name="project[end_date]" placeholder="dd/mm/yyyy" class="form-control">
            <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- - Goal/KPI fields flexbox - -->
    <div class="inline-box-goal-kpi">
      <div class="kpi-goal-item goal-form"> <%= f.input :goal %></div>
      <div class="kpi-goal-item kpi-form"><%= f.input :kpi %></div>
    </div>

      <%= f.input :url_targeted, label: "Targeted url" %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>
