<div class="container">
  <%= link_to '<< Back to timeline', team_path(@project.team) %>


<!-- DESCRIPTION DU  PROJETS -->

  <h1><%= @project.title %> Overview</h1>
  <br>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <p><strong>Creator:</strong> <%= @project.user.first_name %>  <%= @project.user.last_name %></p>
    <p><strong>Description:</strong> <%= @project.description %></p>
    <p> <strong>Category:</strong> <%= @project.category %></p>
    <p>  <strong>Start date:</strong> <%= @project.start_date.strftime("%b %d, %Y") %>  |  <strong>End date:</strong> <%= @project.end_date.strftime("%b %d, %Y") unless @project.end_date.nil? %></p>
    <p><strong>Goal:</strong> <%= @project.goal %>  |  <strong>KPI:</strong> <%= @project.kpi %></p>
    <p><strong>Targeted url:</strong> <%= @project.url_targeted %></p>
  </div>
  <div class="col-xs-12 col-md-6 text-center">
    <p>ICI LES PERFS</p>
  </div>
</div>
  <br>

  <!-- LES POLICIES SUR LE PROJETS -->

  <% if policy(@project).update? %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
  <% end %>

  <% if policy(@project).destroy? %>
    <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <!-- LA CHART CUSTOM METRIC DU PROJETS GOAL  -->
<div class="<%= 'hidden' if @kpi.blank? %>">
  <h2>Goals metrics</h2>
  <div class="chart-project-custom">
    <%= form_tag(project_path(@project), method: :get, remote: true, id:'kpi-form') do %>
      <%= select_tag "kpi", options_for_select(@kpigoal.items.map { |item| [item.name, item.id] }, @kpi) %>
      <%= hidden_field_tag "event", params[:event] %>
    <% end -%>
    <canvas id="myChartprojectcustomgoal"></canvas>
  </div>
</div>
<!-- LA CHART CUSTOM METRIC DU PROJETS EVENT  -->
<div class="<%= 'hidden' if @kpievent.rows.blank? %>">
  <h2>Events metrics</h2>
  <div class="chart-project-custom">
    <%= form_tag(project_path(@project), method: :get, remote: true, id:'event-form') do %>
      <% unless @kpievent.rows.nil? %>
        <%= select_tag "event", options_for_select(@kpievent.rows.map(&:first)), id: "select-event" %>
        <%= hidden_field_tag "kpi", params[:kpi] %>
      <% end %>
    <% end -%>
    <canvas id="myChartprojectcustomevent"></canvas>
  </div>
</div>
<!-- LES CHARTS LINES BASICS METRIC DU PROJETS -->
<h2>Basics metrics</h2>
<div class="chart-project-detail">
  <div class="text-center">
    <!-- <h3>Sessions</h3> -->
  </div>
  <canvas id="myChartprojectsession"></canvas>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="text-center">
      <!-- <h3>Page views</h3> -->
    </div>
    <div class="chart-pageview">
      <canvas id="myChartprojectpv"></canvas>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="text-center">
      <!-- <h3>Unique Visitors</h3> -->
    </div>
    <div class="chart-session">
      <canvas id="myChartprojectuv"></canvas>
    </div>
  </div>
</div>
 <!-- LES CHARTS DONUTS BASICS METRIC DU PROJETS -->
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="chart-bouncerate">
      <canvas id="myChartprojectbr"></canvas>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="chart-newvsold">
      <canvas id="myChartprojectnv"></canvas>
    </div>
  </div>
</div>
  <hr>
  <!-- LES COMMENTAIRES SUR LE PROJETS -->
  <h4>Comments</h4>
  <div id="comments">
    <% if @project.comments.blank? %>
      Be the first to leave a comment for <%= @project.title %>
    <% else %>
      <% @project.comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
      <% end %>
    <% end %>
  </div>


<%= render 'comments/form', project: @project, comment: @comment %>

</div>




 <!-- LE GRAPH CUSTOM METRIC DU PROJETS -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      new Chart($("#myChartprojectsession"), {
          type: 'line',
          data: {
              labels: ["August", "September", "October", "November", "December", "January"],
              datasets: [{
                  label: 'Sessions',
                  data: <%= raw @graphsession.to_json %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });

        new Chart($("#myChartprojectpv"), {
        type: 'line',
        data: {
            labels: ["August", "September", "October", "November", "December", "January"],
            datasets: [{
                label: 'Page Views',
                data: <%= raw @graphpv.to_json %>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
        new Chart($("#myChartprojectuv"), {
        type: 'line',
        data: {
            labels: ["August", "September", "October", "November", "December", "January"],
            datasets: [{
                label: 'Unique visitors',
                data: <%= raw @graphuser.to_json %>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
        new Chart($("#myChartprojectbr"), {
        type: 'doughnut',
        data: {
            labels: ["Bounce Rate"],
            datasets: [{
                label: 'Bounce Rate',
                data: <%= raw @data_br.to_json %>,
                backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
                hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation:{
            animateScale:true
        }
        }
    });
        new Chart($("#myChartprojectnv"), {
        type: 'doughnut',
        data: {
            labels: ["New visitors", "Known visitors"],
            datasets: [{
                label: 'Bounce Rate',
                data: <%= raw @data_nv.to_json %>,
                backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
                hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation:{
            animateScale:true
        }
        }
    });

      new Chart($("#myChartprojectcustomgoal"), {
          type: 'line',
          data: {
              labels: ["August", "September", "October", "November", "December", "January"],
              datasets: [{
                  label: 'Custom',
                  data: <%= raw @graphcustom.to_json %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
        new Chart($("#myChartprojectcustomevent"), {
          type: 'line',
          data: {
              labels: ["August", "September", "October", "November", "December", "January"],
              datasets: [{
                  label: 'Custom',
                  data: <%= raw @graphcustomevent.to_json %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      $('#kpi').change( function() {
        $('#kpi-form').submit();
        $('.loader').removeClass('hidden');
      });

      $('#select-event').change( function() {
        $('#event-form').submit();
        $('.loader').removeClass('hidden');
      });
    });
  </script>
<% end %>
