  <%= link_to '<< Back to timeline', team_path(@project.team) %>

<div class="container">
  <h1><%= @project.title %></h1>

  <br>

   <p><strong>Owner:</strong> <%= @project.user.first_name %>  <%= @project.user.last_name %></p>
    <p><strong>Description:</strong> <%= @project.description %></p>
    <p> <strong>Category:</strong> <%= @project.category %></p>
    <p>  <strong>Start date:</strong> <%= @project.start_date %>  |  <strong>End date:</strong> <%= @project.end_date %></p>
    <p><strong>Goal:</strong> <%= @project.goal %>  |  <strong>KPI:</strong> <%= @project.kpi %></p>
    <p><strong>Targeted url:</strong> <%= @project.url_targeted %></p>

  <br>


  <% if policy(@project).update? %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
  <% end %>

  <% if policy(@project).destroy? %>
    <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <hr>
  <!-- LES COMMENTAIRES SUR LE PROJETS -->
  <h4>Comments</h4>
  <div id="comments">
    <% if @project.comments.blank? %>
      Be the first to leave a comment for <%= @project.title %>
    <% else %>
      <% @project.comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
      <% end %>
    <% end %>
  </div>


<%= render 'comments/form', project: @project, comment: @comment %>

</div>


<h1>TEST DATA</h1>

<% @datas.rows.each do |data| %>
<%= data%>
<% end %>


