<div class="container">
  <%= link_to team_path(@project.team), class: "previous-button" do %>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <% end %>
<!-- DESCRIPTION DU  PROJETS -->
<div class="project-header">
  <div class= "cd-category-img cd-<%= @project.category.downcase %>"></div>
  <span class= text-center>
    <h1><%= @project.title %></h1>
  </span>
</div>
<div class="show-container">
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="project-presentation">
      <h3 class="text-center light">Details</h3>
 <!-- LES POLICIES SUR LE PROJETS -->
      <div class="text-center">
        <% if policy(@project).update? %>
          <%= link_to edit_project_path(@project), class: "project-actions" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        <% end %>
        |
        <% if policy(@project).destroy? %>
          <%= link_to project_path(@project), method: "delete", class: "project-actions" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
<!-- END OF POLICIES -->
      <p><%= cl_image_tag @project.user.photo, height: 50, width: 50, class: "avatar-rounded"%> <%= @project.user.first_name %> <%= @project.user.last_name %><span class = "owner"> - <%= @project.user.role %></span></p>
      <p><strong>Description:</strong> <%= @project.description %></p>
      <p><strong>Deployment date:</strong> <%= @project.start_date.strftime("%b %d, %Y") %>
    </div>
  </div>
  <!-- PRESENTATION PERFORMANCES -->
  <div class="col-xs-12 col-md-6 text-center border-line-left">
    <div class="project-presentation">
      <div class="perf-prez"></div>

          <h3 class="text-center light"">Performances</h3>
          <span class = "chiffre-perf"><p><%= @perfproject %>%</p></span>

      </div>
    </div>
  </div>
</div>

  <hr>
  <!-- LA CHART CUSTOM METRIC DU PROJETS GOAL  -->
<div class="<%= 'hidden' if @kpi.blank? %>">
  <h2>Goals metrics</h2>
  <div class="chart-project-custom">
    <%= form_tag(project_path(@project), method: :get, remote: true, id:'kpi-form') do %>
      <%= select_tag "kpi", options_for_select(@kpigoal.items.map { |item| [item.name, item.id] }, @kpi), class: "select-kpi" %>
      <%= hidden_field_tag :startdate, params[:startdate] %>
      <%= hidden_field_tag :enddate, params[:enddate] %>
    <% end -%>
    <h3></h3>
    <canvas id="myChartprojectcustomgoal"></canvas>
  </div>
</div>
<!-- LA CHART CUSTOM METRIC DU PROJETS EVENT  -->
<div class="<%= 'hidden' if @kpievent.rows.blank? %>">
  <h2>Events metrics</h2>
  <div class="chart-project-custom">
    <%= form_tag(project_path(@project), method: :get, remote: true, id:'event-form') do %>
      <% unless @kpievent.rows.nil? %>
        <%= select_tag "event", options_for_select(@kpievent.rows.map(&:first)), id: "select-event", class: "select-kpi" %>
        <%= hidden_field_tag :startdate, params[:startdate] %>
        <%= hidden_field_tag :enddate, params[:enddate] %>
      <% end %>
    <% end -%>
    <canvas id="myChartprojectcustomevent"></canvas>
  </div>
</div>
<!-- LES CHARTS LINES BASICS METRIC DU PROJETS -->
<h3 class="light">Basics metrics</h3>
<div class="chart-project-detail">
  <div class="text-center">
    <h3 >Sessions</h3>
  </div>
  <canvas id="myChartprojectsession"></canvas>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="text-center">
      <h3>Page views</h3>
    </div>
    <div class="chart-pageview">
      <canvas id="myChartprojectpv"></canvas>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="text-center">
      <h3>Unique Visitors</h3>
    </div>
    <div class="chart-session">
      <canvas id="myChartprojectuv"></canvas>
    </div>
  </div>
</div>
 <!-- LES CHARTS DONUTS BASICS METRIC DU PROJETS -->
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="text-center">
      <h3>Bounce rate</h3>
    </div>
    <div class="chart-bouncerate">
      <canvas id="myChartprojectbr"></canvas>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="text-center">
      <h3>New vs known visitors</h3>
    </div>
    <div class="chart-newvsold">
      <canvas id="myChartprojectnv"></canvas>
    </div>
  </div>
</div>
<br>
<hr>
<!-- LES COMMENTAIRES SUR LE PROJETS -->
<h3 class="text-center light"">Comments about <%= @project.title %></h3>
<div id="comments">
  <% @project.comments.each do |comment| %>
    <%= render 'comments/show', comment: comment %>
  <% end %>
</div>
<br>
<%= render 'comments/form', project: @project, comment: @comment %>

</div>

 <!-- LE GRAPH CUSTOM METRIC DU PROJETS -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      new Chart($("#myChartprojectsession"), {
          type: 'line',
          data: {
              labels: <%= raw @session_dates.to_json %>,
              datasets: [{
                  data: <%= raw @graphsession.to_json %>,
                  backgroundColor:
                      'rgba(0,221,194,0.4)',
                  borderColor:
                      'rgba(0,221,194,1)',
                  borderWidth: 1
              }]
          },
          options: {
              legend: {
                display: false
              },
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  xAxes: [{
                    gridLines: {
                      display:false
                    }
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      },
                      gridLines: {
                        display:false
                      }
                  }]
              }
          }
      });

        new Chart($("#myChartprojectpv"), {
        type: 'line',
        data: {
            labels: <%= raw @pv_dates.to_json %>,
            datasets: [{
                data: <%= raw @graphpv.to_json %>,
                 backgroundColor:
                      'rgba(244,204,59,0.4)',
                  borderColor:
                      'rgba(244,204,59,1)',
                borderWidth: 1
            }]
        },
        options: {
            legend: {
              display: false
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                  xAxes: [{
                    gridLines: {
                      display:false
                    }
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      },
                      gridLines: {
                        display:false
                      }
                  }]
              }
        }
    });
        new Chart($("#myChartprojectuv"), {
        type: 'line',
        data: {
            labels: <%= raw @user_dates.to_json %>,
            datasets: [{
                data: <%= raw @graphuser.to_json %>,
                 backgroundColor:
                      'rgba(101,175,255,0.4)',
                  borderColor:
                      'rgba(101,175,255,1)',
                borderWidth: 1
            }]
        },
        options: {
            legend: {
              display: false
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                  xAxes: [{
                    gridLines: {
                      display:false
                    }
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      },
                      gridLines: {
                        display:false
                      }
                  }]
              }
        }
    });
        new Chart($("#myChartprojectbr"), {
        type: 'doughnut',
        data: {
            labels: ["Bounce Rate"],
            datasets: [{
                label: 'Bounce Rate',
                data: <%= raw @data_br.to_json %>,
                backgroundColor: [
                    'rgba(244,204,59,1)',
                    'rgba(0, 221, 194, 1)',
                ],
                hoverBackgroundColor: 'rgba(0,190,173,1)'
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation:{
            animateScale:true
        }
        }
    });
        new Chart($("#myChartprojectnv"), {
        type: 'doughnut',
        data: {
            labels: ["New visitors", "Known visitors"],
            datasets: [{
                label: 'Bounce Rate',
                data: <%= raw @data_nv.to_json %>,
                backgroundColor: [
                      'rgba(244,204,59,1)',
                      'rgba(0, 221, 194, 1)',
                  ],
                hoverBackgroundColor: 'rgba(0,190,173,1)'
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation:{
            animateScale:true
        }
        }
    });
    if (<%= !@graphcustom.nil? %>) {
      new Chart($("#myChartprojectcustomgoal"), {
          type: 'line',
          data: {
              labels: <%= raw @custom_dates.to_json %>,
              datasets: [{
                  data: <%= raw @graphcustom.to_json %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              legend: {
                display: false
              },
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  xAxes: [{
                    gridLines: {
                      display:false
                    }
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      },
                      gridLines: {
                        display:false
                      }
                  }]
              }
          }
      });
    }
    if (<%= !@graphcustomevent.nil? %>) {
        new Chart($("#myChartprojectcustomevent"), {
          type: 'line',
          data: {
              labels: <%= raw @customevent_dates.to_json %>,
              datasets: [{
                  data: <%= raw @graphcustomevent.to_json %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              legend: {
                display: false
              },
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  xAxes: [{
                    gridLines: {
                      display:false
                    }
                  }],
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      },
                      gridLines: {
                        display:false
                      }
                  }]
              }
          }
      });
    }

      $('#kpi').change( function() {
        $('#kpi-form').submit();
        $('.loader').removeClass('hidden');
      });

      $('#select-event').change( function() {
        $('#event-form').submit();
        $('.loader').removeClass('hidden');
      });

      $('.search-submit-btn').click( function() {
        $('.loader').removeClass('hidden');
      });

      $('#like-button').click(function() {
        if ($('#like-button').html() === "Like") {
          $('#like-button').html('Dislike');
        }
        else {
          $('#like-button').html('Like');
        }
      });
    });
  </script>
<% end %>
