<p><%= a.created_at.strftime('%-d %B %Y %H:%M:%S') %> @ <%= activity.trackable.project.team.name %> : </p>
<p><%= activity.trackable.user.first_name %> reacted to <%= activity.trackable.project.title%> : "<%= activity.trackable.content%>" </p>

